<div class="page-container article">
  <div class="breadcrumbs">
    <%= link_to( "Home", root_url) %>
    >
    (404) Seite nicht gefunden
  </div>
  <div class="row">
    <div class="span9">
      <div class="main-content">
        <div class="header">
          Sorry, wir konnten den gesuchten Inhalt nicht finden.
        </div>
        <div class="content-text">
          <p>Wir arbeiten daran, so viele Informationen wie möglich zu Münster zusammenzustellen. Leider ist dies ein stetiger Prozess und wir haben den Artikel, den du suchst, noch nicht. </p>
          <p>In der Zwischenzeit empfehlen wir:</p>
          <ul>
            <li>Schau auf <a href="http://muenster.de">muenster.de</a> für mehr Informationen</li>
            <li>Schau in ein paar Wochen noch mal vorbei</li>
          </ul>
        </div>
      </div>
    </div><!-- /span9 -->

    <div class="span3">
      <%= render :partial => 'shared/categories_sidebar' %>
    </div><!-- /span3 -->
  </div>
</div>